certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
confluent-kafka==2.6.0
geomet==0.2.1.post1
idna==3.10
py4j==0.10.9.7
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
six==1.16.0
urllib3==2.2.3
